<div class="cover">
  <div *ngIf="!mode">
    <h1>{{title}}</h1>
  </div>
  <div *ngIf="mode === 'list'">
    <app-catalog [books]="books"
                 [filter]="filter"
                 [filterValue]="filterValue"
                 (selectBook)="onSelectBook($event)"
                 (onAddBook)="onAddToCart($event)">
    </app-catalog>
  </div>
  <div *ngIf="mode === 'detail'">
    <app-detail [book]="selectBook"
                (onReturn)="returnToList()"
                (onAddToCart)="onAddToCart($event)">
    </app-detail>
  </div>
  <div *ngIf="mode === 'cart'">
    <app-cart [cart]="cart"
              (onBookSelect)="onSelectBook($event)"
              (onBuy)="onBuy($event)">
    </app-cart>
  </div>
</div>
